{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="home_slider">
    <div class="home_slider--text">
        <h1>Enjoy your self in the world of tea tok</h1>
    </div>
    <div class="home_slider--img">
        <img src="{% static 'images/slider_home.jpg' %}" alt="slider_home">
    </div>
</div>
<div class="ourTeaHouse">
    <h2 class="ourTeamHouseTitle"> our team house</h2>
    <div class="place">
        <div class="placeImage">
            <img src="{% static 'images/firstPlace.jpg' %}" alt="slider_home">
        </div>
        <div class="placeText leftCard">
            <h3>A place to fresh the mind</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, nesciunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, voluptas. </p>
        </div>
    </div>
    <div class="place">
        <div class="placeText">
            <h3>A place to cheers bubble tea</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, rerum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, hic! </p>
        </div>
        <div class="placeImage leftCard">
            <img src="{% static 'images/firstPlace.jpg' %}" alt="slider_home">
        </div>
    </div>
</div>
<div class="home_product">
    <h2>Our special products</h2>
    <p class="pres">Le Bubble Tea est une boisson relativement saine, contenant peu de matières grasses et peu de calories. Les perles de tapioca sont riches en glucides, mais elles sont pareillement riches en fibres et en fer.</p>
    <div class="home_product--images">

<h1>Home Template</h1>

<div>

    <a href="{% url 'viewOrder' %}">View Order</a>

    <div>
        {% for product in products %}
            <div class="card">
                <div class="card_img">
                    <img src={{product.images}} alt={{product.name}}>
                </div>
                <div class="card_txt">
                    <h5>{{product.name}}</h5>
                    <p> {{product.prix}} </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <button>visit shop <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon></button>
</div>

{% endblock content %}