{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="login_img">
    <img src="{% static 'images/login_bg.jpg' %}" alt="slider_home">
</div>
<div class="login_form">
    <div class="login_form_text">
        <h1>Hello again !</h1>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="input-box">
            <input type="email" placeholder="email" name="email">
            <ion-icon name="at-outline"></ion-icon>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password" name="password">
            <ion-icon name="lock-closed-outline"></ion-icon>
        </div>
        
        <div class="button">
            <button type="submit" class="btn1">Login</button>
        </div>
            
        <div class="register-link">
            <p>Don't have an account ? <a href="/register">Register</a></p>
        </div>
    </form>

</div>

{% endblock content %}