{% extends 'main.html' %}

{% block content %}

<div class="register_img">
    regsiter image
</div>
<div class="register_form">
    <div class="register_form_text">
        <h1>Welcome !</h1>
    </div>

    <form action="" method="post">
        <div class="input-box-register">
            <input type="text" placeholder="First name" name="firstNname" required>
        </div>
        <div class="input-box-register">
            <input type="text" placeholder="Last name" name="lastName" required>
        </div>
        <div class="input-box-register">
            <input type="email" placeholder="Email" name="email" required>
        </div>
        <div class="input-box-register">
            <input type="text" placeholder="Username" name="username" required>
        </div>
        <div class="input-box-register">
            <input type="password" placeholder="Password" name="password" class="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" title="Vous devez inserez au moins 1 chiffre, 1miniscule, 1majuscule et 12 caractere minimun" required>
        </div>
        <div class="input-box-register">
            <input type="password" placeholder="Confirm Password" name="password" class="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" title="Vous devez inserez au moins 1 chiffre, 1miniscule, 1majuscule et 12 caractere minimun" required>
        </div>
        <div class="button">
            <button type="submit" class="btn">Register</button>
        </div>           
        <div class="register-link">
            <p>Already have an account ? <a href="./login">Login</a></p>
        </div>
    </form>

</div>

{% endblock content %}