.row{
    position: relative;
    & h1{
        font-size: 5rem;
        text-align: center;
        padding: 3rem 0;
    }
    & .box-element{
        & .btn_arrow.gobackto{
            color: black;
            background-color: #FEF6D7;
            position: absolute;
            padding: 10px 15px;
            top: 15px;
            left: 25px;
            border-radius: 21px;
            color: black;
        }
    }
}