$colorCream: #FEF6D7;
$colorCreamDark: #F2EBDF;
$colorOrange: #cd9446;
$colorGreen : #364a31;
$colorGreenText: #33574f;


@font-face {
    font-family: 'brogadierregular';
    src: url('../fonts/brogadier-webfont.woff2') format('woff2'),
         url('../fonts/brogadier-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

